:root {
    --heading: #212121;
    --paragraph: #757575;
    --bakcground: #2F303A;
    --link-and-logo: #2196F3;
}


body {
    width: 1600px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.02em;
}

.index {
    height: 2349px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

[type^="button"] {
    cursor: pointer;
}

.cursor:hover,
.cursor:focus {
    color: var(--link-and-logo);
}

header {
    height: 80px;
    width: 1600px;
    display: flex;
    align-items: center;
}

.navigation-link {
   color: var(--heading); 
} 

.telefon-in-nav, 
.mail-in-nav {
    color: var(--paragraph);
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    margin-left: 215px;
    color: black;
}

.logo-one-chapter {
    color: var(--link-and-logo);
}

.navigation-list {
    display: flex;
    list-style: none;
    margin-left: 43px;
}

.navigation-link {
    margin-right: 50px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
}

.contacts {
    margin-left: 275px;
    margin-right: 165px;
}

.telefon-in-nav, .mail-in-nav {
    margin-right: 50px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
}

.current {
    color: var(--link-and-logo);
}

/* info */

.solution-and-button {
    background-color: var(--bakcground);
    width: 1600px;
    height: 600px;
    text-align: center;
}

.effectiv-solution-for-your-busness {
    position: absolute;
    width: 696px;
    height: 120px;
    left: 452px;
    top: 280px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
}

.button-order {
    background-color: var(--link-and-logo);
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    height: 50px;
    width: 200px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    margin: 350px 700px 200px 700px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.06em;
}

.benefits {
    width: 1170px;
    height: 101px;
    margin: 94px 185px;
}

.benefits-list {
    display: flex;
}

.benefits-list-punkt {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

.benefit-name {
    color: var(--heading);
    height: 16px;
    font-size: 14px;
    line-height: 1.1;
    text-transform: uppercase;
}

.benefit-description {
    color: var(--paragraph);
    height: 75px;
    left: 515px;
    top: 800px;
    font-size: 14px;
    line-height: 1.7;
}

.busnes-list {
    width: 1170px;
    height: 386px;
    margin: 94px 215px ;
}

.we-doing,
.our-team {
    color: var(--heading);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
}

.what-we-doing {
    display: inline-flex;
    flex-direction: row;
}

.box2 {
    margin: 0px 30px;
}


.team {
    background-color: #F5F4FA;
    height: 648px;
}

.our-team {
    padding-top: 94px;
}

.our-team-list {
    display: flex;
    width: 1170px;
    height: 368px;
    margin: 50px 175px 94px;
}

.team-card {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-right: 30px;
}

.name-team-card {
    text-align: center;
    color: var(--heading);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.3;
}

.profession {
    text-align: center;
    color: var(--paragraph);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;

}

/* portfolio */

.portfolio {
    height: 1880px;
}

.list-in-portfolio {
    width: 1170;
    height: 1390;
    margin-top: 94px;
    margin-left: 175px;
    margin-right: 215px;
    margin-bottom: 94px;
}

.buttons-in-portfolio {
    display: flex;
    margin: auto;
    width: 611px;
    height: 54px;
}

.button-in-portfolio {
    color: var(--heading);
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    background: #F5F4FA;
    border-radius: 4px;
    border: none;
    margin-left: 8px;
    height: 38px;
}

.all {
    width: 73px;
}

.web-sites {
    width: 128px;
}

.applications {
    width: 145px;
}

.design {
    width: 103px;
}

.marketing {
    width: 130px;  
}


.all,
.button-in-portfolio:hover,
.button-in-portfolio:focus {
    background: var(--link-and-logo);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: #FFFFFF;
} 

.image-and-name-in-portfolio {
    height: 404px;
    width: 370px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    cursor: pointer;
    margin: 0px 30px 30px 0px;
}

.portfolio-project {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.06em;
    padding-left: 24px;
    color: var(--heading);
}

.name-portfolio-project {
    padding-left: 24px;
    font-size: 16px;
    line-height: 30px;
    padding-left: 1.2;
    color: var(--paragraph);
}

.photo-list-in-portfolio {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    height: 1200px;
    width: 1360px;
}

/* footer */

.footer {
    background-color: var(--bakcground);
    height: 192px;
    padding-top: 60px;
}

.logo-in-footer {
    color: white;
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    padding-left: 215px;
    
}

.one-chapter-logo-in-footer {
    color: var(--link-and-logo);
}

.adress-company {
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    padding-left: 180px;
}

.footer-contats-mail,
.footer-contats {
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    padding-left: 180px;
    color: rgba(255, 255, 255, 0.6);
}

.footer-contats-mail {
    margin: 9px 0px;
}