body {
    width: 1600px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.48px;
}

.index {
    height: 2349px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    height: 80px;
    width: 1600px;
    display: flex;
    align-items: center;
}

.navigation-link {
   color: #212121; 
} 

.telefon-in-nav, 
.mail-in-nav {
    color: #757575;
}

.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    margin-left: 215px;
    color: black;
}

.logo-one-chapter {
    color: #2196F3;
}

.navigation-list {
    display: flex;
    list-style: none;
    margin-left: 43px;
}

.navigation-link {
    margin-right: 50px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.cursor:hover {
   color: #2196F3; 
}

.contacts {
    margin-left: 275px;
    margin-right: 165px;
}

.telefon-in-nav, .mail-in-nav {
    margin-right: 50px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

/* info */

.solution-and-button {
    background-color: #2F303A;
    width: 1600px;
    height: 600px;
    text-align: center;
}

.effectiv-solution-for-your-busness {
    position: absolute;
    width: 696px;
    height: 120px;
    left: 452px;
    top: 280px;
    color: #fff;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.96px;
}

.button-order {
    background-color: #2196F3;
    color: #fff;
    border: none;
    border-radius: 4px;
    height: 50px;
    width: 200px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    margin: 350px 700px 200px 700px;
    /* padding: 10px 32px; */
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.96px;
}

.benefits {
    width: 1170px;
    height: 101px;
    margin: 94px 185px;
}

.benefits-list {
    display: flex;
}

.benefits-list-punkt {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

.benefit-name {
    color: #212121;
    width: 270px;
    height: 16px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
}

.benefit-description {
    color: #757575;
    width: 270px;
    height: 75px;
    left: 515px;
    top: 800px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.busnes-list {
    width: 1170px;
    height: 386px;
    margin: 94px 215px;
}

.we-doing {
    color: #212121;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
}

.what-we-doing {
    display: inline-flex;
    flex-direction: row;
}

.box2 {
    margin: 0px 30px;
}


.team {
    background-color: #F5F4FA;
    height: 648px;
}

.our-team {
    color: #212121;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    padding-top: 94px;
}

.our-team-list {
    display: flex;
    width: 1170px;
    height: 368px;
    margin: 50px 175px 94px;
}

.team-card {
    background-color: white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-right: 30px;
}

.name-team-card {
    text-align: center;
    color: #212121;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.profession {
    text-align: center;
    color: #757575;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

}

/* portfolio */

.portfolio {
    height: 1880px;
}

.list-in-portfolio {
    width: 1170;
    height: 1360;
    margin-top: 94px;
    margin-left: 215px;
    margin-right: 215px;
    margin-bottom: 94px;
}

.buttons-in-portfolio {
    display: flex;
    padding-left: 271px;
    padding-right: 271px;
    width: 611px;
    height: 54px;
}

.button-in-portfolio {
    color: #212121;
    text-align: center;
    font-style: normal;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    background: #F5F4FA;
    border-radius: 4px;
    border: none;
    margin-left: 8px;
    height: 38px;
}

.all {
    width: 73px;
}

.web-sites {
    width: 128px;
}

.applications {
    width: 145px;
}

.design {
    width: 103px;
}

.marketing {
    width: 130px;  
}


.button-in-portfolio:hover {
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: #FFFFFF;
} 

.image-and-name-in-portfolio {
    height: 404px;
    width: 370px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    margin: 0px 30px 30px 30px;
}

.portfolio-project {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.96px;
    padding-left: 24px;
    color: #212121;
}

.name-portfolio-project {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    padding-left: 24px;
    color: #757575;
}

.photo-list-in-portfolio {
    column-count: 3;
    column-gap: 60px;
}



/* footer */

.footer {
    background-color: #2F303A;
    height: 192px;
    padding-top: 60px;
}

.logo-in-footer {
    color: white;
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    padding-left: 215px;
    
}

.one-chapter-logo-in-footer {
    color: #2196F3;
}

.adress-company {
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    padding-left: 180px;
}

.footer-contats-mail,
.footer-contats {
    color: #757575;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    padding-left: 180px;
}

.footer-contats-mail {
    margin: 9px 0px;
}